<div class="statInfo" >
    <div class="actualUser">
        <div class="userPic">
            <img src="/imgs/profile.png">
        </div>

        <div class="userInfo">
            <div>
                <p><%= user.nom %></p>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <td>Public articles</td>
            <td><%= artsPub %></td>
        </tr>
        <tr>
            <td>Private articles</td>
            <td><%= artsPr %></td>
        </tr>
        <tr>
            <td>Comments</td>
            <td><%= sumComments %></td>
        </tr>
    </table>

    <div id="logout"> Logout </div>
</div>