<div class="navBar">
    <a href="/"><div id="home" class="link"> <button class='<% if (active == "index") { %> active <% } %>'> <i class='bx bx-home'></i> Home </button> </div></a>
    <a href=""><div class="link"> <button class=""><i class='bx bx-cog'></i> Settings </button></div></a>
    <a href="/profile"><div class="link"> <button class='<% if (active == "profile") { %> active <% } %>'><i class='bx bx-face' ></i> Profile </button></div></a>
    <div class="crePost">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Share your idea!
        </button>
    </div>
</div>