<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/imgs/logoIcon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <title>ITy |  <% if (user) { %> <%= user.nom %> <% } else { %> <%= title %> <% } %></title>
</head>
<body id="body">
    <div class="navv">
        <div>
            <a class="a" href="/">
                <img class="d" src="/imgs/logoWidth.png" alt="">
            </a>
        </div>

        <% if (user) { %>
            <%- include("./partials/navbar.ejs") %>
        <% } %>
    </div>

    <div class="main">
        <form class="search" action="">
            <i class='searchIcon bx bx-search-alt'></i>
            <input id="searchBar" type="text" name="searchBar" placeholder="Type a category ...">
        </form>

        <div class="post">
            <div class="avatarDiv">
                <a href="">
                    <div class="avatar">
                        <img src="/imgs/profile.png" alt="">
                    </div>
                </a>
            </div>

            <% if (user) { %>
                <%- include("./partials/addArticleForm.ejs") %>
            <% } %>
    
            <div class="contentPost">
                <div class="postInfo">
                    <div class="postClick" value="id_post">
                        <p class="username"> Reda <span>- Il y a 2h</span> </p>
    
                        <p class="postDescription">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nam quam itaque, repudiandae nihil optio, ipsa odio, repellendus cum dicta et minima quas debitis eos molestias placeat eligendi esse nobis?
                        </p>

                        <div class="postPic">
                            <img src="/imgs/profile.png" alt="">
                        </div>
                    </div>

                    <div class="display">
                        <div class="cmntTypeDiv">
                            <div class="profil">
                                <div class="profileAvatar">
                                    <img src="/imgs/profile.png" alt="">
                                </div>
                            </div>
                            <div class="typeCmnt">
                                <form action="">
                                    <textarea class="cmntTextarea" name="" placeholder="Laissez un commentaire ..."></textarea> <br>
                                    <button class="submit" disabled>Répondre</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="reactPost" >
                    <div class="prince">
                        <div class="reactCardCmnt">
                            <div class="cmntDiv reactIcon">
                                <a style="color: black; text-decoration: none; font-weight: 800"><i id="cmntIcon" class='bx bx-message-rounded'></i></a>
                            </div>
                            <div class="desc">
                                <p>69</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="avatarDiv">
                <a href="">
                    <div class="avatar">
                        <img src="/imgs/profile.png" alt="">
                    </div>
                </a>
            </div>
    
            <div class="contentPost">
                <div class="postInfo">
                    <div class="postClick" value="id_post">
                        <p class="username"> Reda <span>- Il y a 2h</span> </p>
    
                        <p class="postDescription">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nam quam itaque, repudiandae nihil optio, ipsa odio, repellendus cum dicta et minima quas debitis eos molestias placeat eligendi esse nobis?
                        </p>

                        <div class="postPic">
                            <img src="/imgs/logoWidth.png" alt="">
                        </div>
                    </div>

                    <div class="display">
                        <div class="cmntTypeDiv">
                            <div class="profil">
                                <div class="profileAvatar">
                                    <img src="/imgs/profile.png" alt="">
                                </div>
                            </div>
                            <div class="typeCmnt">
                                <form action="">
                                    <textarea class="cmntTextarea" name="" placeholder="Laissez un commentaire ..."></textarea> <br>
                                    <button class="submit" disabled>Répondre</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="reactPost" >
                    <div class="prince">
                        <div class="reactCardCmnt">
                            <div class="cmntDiv reactIcon">
                                <a style="color: black; text-decoration: none; font-weight: 800"><i id="cmntIcon" class='bx bx-message-rounded'></i></a>
                            </div>
                            <div class="desc">
                                <p>69</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="auth">
        <% if (!user) { %>
            <div class="authForm">
                <p class="h">Nouveauté sur <span>IT</span>y ?</p>
                <p class="des">Inscrivez-vous pour profiter de votre propre fil personnalisé !</p>
                <div>
                    <button class="signup"> Sign up </button>
                    <div class="logLink">
                        <a href="/login"> Already have an account ? </a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>