<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/imgs/logoIcon.png">
    <script src="/js/signup.js"></script>
    <title>ITY | <%= title %></title>
</head>

<body id="body">
    <div class="signupDiv">
        <video height="99.97%" autoplay muted loop>
            <source src="/imgs/bg.mp4" type="video/mp4">
                Your browser does not support the video tag.
        </video>

        <div class="signupFormDiv">
            <p>A new wizard! yaaay!</p>
            <!-- <span class="err"> <i class='bx bxs-info-circle'></i> Error message</span> -->
            <form action="" method="post">
                <input type="text" name="" id="" placeholder="Type your name"> <br>
                <input type="email" name="" id="" placeholder="Type your email"> <br>
                <input type="password" name="" id="" placeholder="Type your password"> <br>
                <input type="password" name="" id="" placeholder="Confirm your password"> <br>
                <button>Sign up</button> <br>
                <div><a href="/login">Already have an account ?</a></div>
            </form>
        </div>
    </div>

    <div class="logoDiv">
        <div class="logo">
            <a href="/"><img src="/imgs/logoWidth.png" alt=""></a>
            <p>Your virtual <span>place</span> to share your <span>ideas</span></p>
        </div>
    </div>
</body>

</html>