* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    width: 100%;
    display: flex;
}

.navv {
    width: 23%;
    border-right: 1px solid rgb(191, 172, 226);
}

.navv img {
    margin: 15px;
    width: 90%;
}

.navBar {
    width: 80%;
    height: fit-content;
    margin: 0px auto;
}

.link, .crePost {
    margin: 2% 9%;
    width: fit-content;
    transition: background-color 50ms;
    transition: font-weight 50ms;
    border-radius: 100px;
}

.link button, .crePost button {
    border: none;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 100px;
    color: rgb(49, 49, 49);
    font-size: 19px;
    cursor: pointer;
}

.link i {
    margin: 0 0px;
    transform: translate(-10%, 12%);
    font-size: 25px;
    color: rgb(101, 93, 187);
}

.active {
    font-weight: bold;
}

.categoriesList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.category {
    border: 1px solid rgb(191, 172, 226);
    color: rgb(101, 93, 187);
    padding: 2px 7px;
    margin-right: 7px;
    border-radius: 100px;
    font-weight: bold;
    transition: outline 200ms;
    cursor: pointer;
}

.category:hover {
    outline: 2px solid rgb(221, 207, 249);
}

.crePost, .logout {
    margin: 5% auto;
    width: 80%;
}

.crePost button {
    width: 100%;
    padding: 16px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(101, 93, 187);
    transition: background-color 50ms;
    outline: none;
}

.crePost button:hover {
    background-color: rgb(86, 80, 151);
    outline: none;
    border: none;
    box-shadow: none;
}

.crePost button:active {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: rgb(86, 80, 151);
}

.crePost button:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: rgb(86, 80, 151);
}

.link {
    transition: background 200ms;
}

.link:hover {
    background-color: rgb(236, 242, 255);
}

.main {
    width: 50%;
    border-right: 1px solid rgb(191, 172, 226);
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.back {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    border-bottom: 1px solid rgb(191, 172, 226);
    display: flex;
    background-color: rgba(255, 255, 255, 0.763);
    z-index: 1;
}

.SignDiv {
    width: 7.5%;
    height: 100%;
    text-align: center;
}

.SignDiv i {
    font-size: 40px;
    margin-top: 2.5px;
    cursor: pointer;
    color: rgb(127, 118, 218);
    border-radius: 100%;
    transition: background-color 200ms;
}

.SignDiv i:hover {
    background-color: rgb(236, 242, 255);
}

.SuppInfo {
    margin-left: 10px;
    margin-top: 2.5px;
}

.SuppInfo div {
    position: relative;
    top: 5px;
}

.SuppInfo div span {
    font-size: 14px;
    font-weight: lighter;
}

.suppUser {
    font-weight: bold;
    font-size: 18px;
}

.post {
    width: 100%;
    height: fit-content;
    display: flex;
    border-bottom: 1px solid rgb(191, 172, 226);
}

.post:hover {
    background-color: rgb(236, 242, 255);
}

.avatarDiv {
    width: 11%;
    height: 100%;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 7px auto;
}

.avatar img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.contentPost {
    width: 90%;
    height: 100%;
    display: flex;
}

.postInfo {
    margin: 8px;
    width: 90%;
    height: fit-content;
}

.username {
    font-size: 17px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    margin: 5px;
}

.username span {
    font-weight: lighter;
    color: gray;
}

.username i {
    color: rgb(62, 84, 172);
}

.postDescription {
    margin: 0 5px;
    color: rgb(43, 43, 43);
}

.postPic {   
    width: 95%;
    text-align: center;
    height: 250px;
    margin: 12px auto;
    border-radius: 12px;
    position: relative;
}

.postPic img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
    height: 100%;
}

.prince {
    position: relative;
    top: 40%;
}

.display {
    display: none;
    margin: 12px 0;
}

.cmntTypeDiv {
    width: 100%;
    height: 85px;
    display: flex;
}

.cmntTypeDiv .profil {
    width: 10%;
    height: 100%;
}

.profil .profileAvatar {
    width: 40px;
    height: 40px;
    margin: 4px auto;
    border-radius: 100%;
    /* background-image: url("../imgs/mouad.jpeg"); */
    background-size: cover;
}
.profileAvatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}


.typeCmnt {
    width: 90%;
}

::placeholder {
    color: rgb(52, 52, 52);
}

.typeCmnt textarea {
    margin-left: 2.5%;
    margin-top: 5px;
    width: 91%;
    font-size: 16px;
    padding-left: 8px;
    padding-top: 5px;
    resize: none;
    border: 1px solid rgb(101, 93, 187);
    border-radius: 5px;
    background-color: transparent;
    transition: outline 30ms;
}

.typeCmnt textarea:focus {
    outline: 2px solid rgb(101, 93, 187);
}

.typeCmnt .submit  {
    position: relative;
    margin-top: 0.3%;
    left: 82%;
    padding: 4px 10px;
    background-color: rgb(127, 118, 218);
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 100ms;
}

.postOptions {
    margin: 10% auto;
    width: 50%;
    height: fit-content;
}

.modifOp, .suppOp {
    margin: 7px auto;
    width: 80%;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.modifOp button {
    margin-top: 5px;
    background-color: transparent;
    border: none;
    color: rgb(7, 141, 219)
}

.modifOp button:hover {
    color: rgb(14, 130, 197)
}

.suppOp button {
    margin-top: 5px;
    background-color: transparent;
    border: none;
    color: rgb(219, 7, 7)
}

.suppOp button:hover {
    color: rgb(184, 14, 14)
}

.postOptions i {
    position: relative;
    top: 25%;
    font-size: 27px;
    font-weight: lighter;
}

.typeCmnt .submit:hover {
    background-color: rgb(94, 87, 172);
}

.reactPost {
    width: 10%;
}

.reactCardCmnt {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.reactIcon {
    margin: 2px auto;
    width: fit-content;
    padding: 3px 7px;
    font-size: 25px;
    border-radius: 100px;
    cursor: pointer;
}

.reactIcon button {
    border: none;
    background-color: transparent;
    padding: 3px 3.5px;
    font-size: 25px;
    cursor: pointer;
}

.reactIcon a:hover {
    color: white;
}

.reactIcon a:visited {
    color: black;
}

.reactCardCmnt .desc{
    font-weight: lighter;
    cursor: pointer;
}

.search {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.5%;
    border-bottom: 1px solid rgb(191, 172, 226);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.746);
    z-index: 1;
}

.search .searchIcon {
    position: absolute;
    transform: translate(70%, 60%);
    transform: translateY(-50%, -50%);
    font-size: 25px;
    color: rgb(101, 93, 187);
}

.search input { 
    margin-top: 8px;
    font-size: 20px;
    width: 70%;
    padding: 5px 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(236, 242, 255);
    transition: border 20ms;
}

.search input:focus {
    border: 1px solid rgb(101, 93, 187);
    background-color: transparent;
    outline: none;
}

.auth {
    width: 27%;
}

.authForm {
    margin: 16px auto;
    width: 73%;
    height: fit-content;
    border: 1.8px solid rgb(191, 172, 226);
    border-radius: 7px;
}

.authForm .h {
    margin: 10px 20px;
    font-size: 21px;
    font-weight: bold;
}

.h span {
    color: #6F1AB6;
}

.authForm .des {
    margin: 10px 20px;
    font-size: 16px;
}

.authForm div {
    text-align: center;
}

.signup {
    margin: 7px auto;
    width: 75%;
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(101, 93, 187);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: backgound-color 300ms;
    cursor: pointer;
}

.logLink {
    margin: 4px;
}

.logLink a {
    text-decoration: none;
    color: rgb(101, 93, 187);
    transition: text-decoration 1s;
}

.logLink a:hover {
    text-decoration: underline;
}

.signup:hover {
    background-color: rgb(101, 93, 187);
    color: white;
}

.modal-dialog {
    width: 700px;
}

.modal-content {
    max-height: 600px;
    overflow-y: scroll;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.addArticle {
    width: 100%;
    height: fit-content;
    display: flex;
}

.fields {
    width: 89%;
    height: inherit;
}

.fields div {
    width: 96%;
    position: relative;
    left: 2%;
    top: 2%;
}

.fSel {
    width: 20%;
    border-radius: 100px;
    padding: 0 8px;
    transition: background 200ms;
    cursor: pointer;
}

.fSel:hover {
    background-color: rgb(233, 221, 255);
}

.fSel:focus {
    border: 2px solid rgb(101, 93, 187);
    box-shadow: none;
    background-color: transparent;
}

.ta {
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide vertical scrollbar */
    min-height: 50px; /* Set a minimum height */
}

.inp:focus, .ta:focus {
    border: 1px solid rgb(101, 93, 187);
    box-shadow: none;
}

.real {
    display: none;
}

.share {
    background-color: rgb(101, 93, 187);
    border: none;
    transition: 200ms;
}

.share:hover {
    background-color: rgb(83, 79, 135);
}

.share:focus {
    background-color: rgb(83, 79, 135);
    box-shadow: none;
}

.cmt {
    width: 100%;
}

.cmt .cmntTypeDiv {
    margin: 0 auto;
    width: 76%;
    height: fit-content;
}

.pp {
    width: 100%;
    border-bottom: 1px solid rgb(191, 172, 226);
}

.cmt .profil {
    margin-top: 0.5%;
}

.cmt .typeCmnt {
    margin-left: 10px;
}

.cmt .userInfoo {
    margin-top: 3px;
}

.cmt .content {
    margin-bottom: 3px;
}

.userInfoo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
}

.content {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.op {
    width: 10%;
    display: flex;
}

.op i {
    font-size: 25px;
}

.op .suppOp, .op .modifOp {
    border-radius: 0;
    margin-top: 12px;
    margin-right: 3px;
}

.statInfo {
    margin: 8% auto;
    width: 80%;
    height: fit-content;
    border: 1px solid rgb(101, 93, 187);
    border-radius: 10px;
    text-align: center;
}

.statInfo .actualUser {
    display: flex;
    margin: 5px auto;
    width: 85%;
    height: 60px;
    border: 1px solid rgb(191, 172, 226);
    border-radius: 100px;
}

.userPic {
    width: 24%;
    height: 100%;
    border-radius: 100%;
}

.userPic img{
    width: 100%;
    border-radius: 100%;
}

.userInfo {
    width: 76%;
    height: 100%;
}

.userInfo div {
    font-weight: bold;
    font-size: 17px;
    margin-right: 12%;
    margin-top: 9%;
}

.statInfo table {
    width: 100%;
}

.statInfo table td {
    padding: 5px 0;
    width: 50%;
}

#logout {
    margin: 10px auto;
    width: 70%;
    padding: 10px 5px;
    border: 1px solid rgb(101, 93, 187);
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgb(101, 93, 187);
    transition: background 200ms;
    transition: color 200ms;
    transition: outline 50ms;
}

#logout:hover {
    background-color: transparent;
    color: black;
    outline: 2px solid rgb(129, 122, 209);
}