@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}

.loginDiv, .logoDiv {
    width: 50%;
    height: inherit;
}

.loginDiv video{
    width: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.loginFormDiv {
    text-align: center;
    z-index: 1;
    margin: 38% auto;
    width: 50%;
    height: fit-content;
    background-color: rgba(205, 216, 255, 0.93);
    border-radius: 20px;
}

.loginFormDiv p {
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.loginFormDiv form {
    margin: 10px auto;
    width: 80%;
}

.loginFormDiv form input {
    text-align: center;
    margin-bottom: 9px;
    width: 78%;
    height: 32px;
    border-radius: 12px;
    border: 1px solid rgb(62, 84, 172);
    padding: 0 10px;
    font-size: 17px;
    outline: none;
    transition: outline 60ms;
    background-color: transparent;
}

.loginFormDiv form input:focus {
    outline: 2px solid rgb(62, 84, 172);
}

.loginFormDiv form input[type="submit"] {
    width: 86%;
    padding: 6px 12px;
    font-size: 15px;
    margin-bottom: 7px;
    border-radius: 12px;
    border: 1px solid rgb(101, 93, 187);
    font-weight: bold;
    background-color: rgb(101, 93, 187);
    cursor: pointer;
    transition: background 60ms;
    transition: border 70ms;
}

.loginFormDiv form input[type="submit"]:hover {
    background: transparent;
    outline: 1.5px solid rgb(101, 93, 187);
}

::placeholder {
    color: rgb(54, 54, 54);
}

.loginFormDiv form div {
    padding-bottom: 7px;
}

.loginFormDiv form div a {
    color: rgb(62, 84, 172);
    text-decoration: none;
}

.loginFormDiv form div a:hover {
    text-decoration: underline;
}

.err {
    display: none;
    color: red;
    font-weight: bold;
    border-radius: 9px;
    padding: 0 14%;
}

.err i {
    font-size: 18px;
    transform: translate(0%, 10%);
}

.logo {
    text-align: center;
    position: relative;
    top: 33%;
    width: 70%;
    height: 21%;
    margin: 15px auto;
}

.logo p {
    font-family: 'Alkatra', cursive;
    font-size: 22px;
    color: rgb(41, 41, 41);
}

.logo span {
    color: rgb(111, 26, 182);
    font-family: 'Alkatra', cursive;
}